body {
  background-color: black;
  color: rgb(200, 200, 200);
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  text-align: center;
}

h1 {
  border: 2px solid rgb(26, 101, 149);
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn-container {
  display: inline-block;
  width: 400px;
  margin-bottom: 100px;
}

.btn-container > input {
  visibility: hidden;
  position: absolute;
}

.btn-container > input + div {
  cursor: pointer;
}

.btn-container > input:checked + div {
  border: 2px solid rgb(26, 101, 149);
}

.phrase {
  width: 750px;
  margin: 0 auto;
}

.code-phrase {
  text-align: left;
  font-family: monospace;
}

.mono {
  /* display: inline-block; */
  /* line-height: 38px; */
  /* width: 19.2px; */
}

.current-char {
  color: rgb(46, 213, 68);
  border-bottom: 1px solid rgb(46, 213, 68);
}

.failed {
  color: rgb(226, 24, 24);
  border-bottom: 1px solid rgb(226, 24, 24);
}

.score {
  margin-top: 10%;
  font-size: 40px;
  color: rgb(46, 213, 68);
}

.prompt {
  margin-top: 5%;
  font-size: 20px;
}
